<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
          <link rel='icon' href='img/weather.png'>
        <link rel="stylesheet" href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This website was created by Rohan on April 3, 2020. It uses data from mapbox.com and darksky.net</p>
        {{!-- <h1>{{title}}</h1> --}}
        <img class="portrait" src='./img/rohan mittal.jpg' alt='my picture'>
        {{!-- <p>Created by {{name}}</p> --}}
        </div>
        {{>footer}}
    </body>
</html>